.containers {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  text-align: center;
}

.rows {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  img {
    width: 70%;
    border-radius: 10px;
  }

  h4 {
    margin-top: 1.8rem;
  }
  p {
    margin-top: 0.4rem;
    color: rgb(71, 71, 71);
  }
}

.btn__more {
  width: 10%;
  margin-top: 3rem;
  border: none;
}
